@import url(url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@500&display=swap');

*{margin: 0;padding: 0;text-decoration: none;}

header{
  width: 100%;
  height: 80px;
  background-color: #FFF7E4;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid blue;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a{
  color: #000000;
  text-transform:lowercase;
  font-family: 'Caveat Brush', cursive;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  transition: 1s;
}

header nav ul li a:hover{
  color: #FAB700;
  font-size: 1.4em;
  transition: 1s;
}

.menu1{width: 298px;}
.menu2{width: 495px;}
.menu3{width: 84px;}
.menu4{width: 70px;}
.menu5{width: 63px;}
.menu6{width: 57px;}
.menu7{width: 30px;}


.banner{
  width: 100;
  height: 130px;
  background-image: url('img/2_bg01.png');
  background-color: #DEDEDE;
  background-position: center;
  background-repeat: no-repeat;
}

.copy{
  width: 100%;
  height: 79px;
  background-image: url('img/copy.png');
}

.cont1{
  width: 100%;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 0px;
}

h1{
  text-transform:lowercase;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  left: -100px;
 }

h2{
  text-transform:capitalize;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 4.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.cont2{
  width: 100%;
  height: 583px;
  position: relative;
  top: 30px;
}

.line1{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  opacity: 50%;
}

.time1{
  font-family: 'Gothic A1', sans-serif;
  font-weight:300;
  color: #4F4F4F;
  font-size: 1.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.text1{
  font-family: 'Gothic A1', sans-serif;
  font-weight:400;
  color: #4F4F4F;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.line2{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  opacity: 50%;
}

.time2{
  font-family: 'Gothic A1', sans-serif;
  font-weight:300;
  color: #4F4F4F;
  font-size: 1.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.text2{
  font-family: 'Gothic A1', sans-serif;
  font-weight:400;
  color: #4F4F4F;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.line3{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  opacity: 50%;
}

.time3{
  font-family: 'Gothic A1', sans-serif;
  font-weight:300;
  color: #4F4F4F;
  font-size: 1.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.text3{
  font-family: 'Gothic A1', sans-serif;
  font-weight:400;
  color: #4F4F4F;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.line4{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  opacity: 50%;
}

.time4{
  font-family: 'Gothic A1', sans-serif;
  font-weight:300;
  color: #4F4F4F;
  font-size: 1.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.text4{
  font-family: 'Gothic A1', sans-serif;
  font-weight:400;
  color: #4F4F4F;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.text5{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:500;
  font-size: 3.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  right: 315px;
}

.text6{
  font-family: 'Gothic A1', sans-serif;
  font-weight:400;
  color: #4F4F4F;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90px;
  margin-left: 250px;
}

.text7{
  font-family: 'Gothic A1', sans-serif;
  font-weight:300;
  color: #4F4F4F;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 130px;
  margin-left: 720px;
}

.text8{
  font-family: 'Gothic A1', sans-serif;
  font-weight:400;
  color: #4F4F4F;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  margin-left: 220px;
}

.text9{
  font-family: 'Gothic A1', sans-serif;
  font-weight:300;
  color: #4F4F4F;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 250px;
  margin-left: 740px;
}

.cont_center{
  display: flex;
  justify-content: center;
  align-items: center;
}


footer{
  width: 100%;
  height: 79px;
  background-color: #FFD267;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4F4F4F;
  font-family: 'Caveat Brush', cursive;
  font-size: 0.8em;
  letter-spacing: -0.05em;
  margin-top: 330px;
}
